@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Junior C# developer
</address>

<address>
    <strong>Linkedin page:</strong> <a href="https://www.linkedin.com/in/devMilena">linkedin.com/in/devMilena</a><br/>
    <strong>Github page:</strong> <a href="https://github.com/devMilena">github.com/devMilena</a><br/>
    <strong>E-mail:</strong> <a href="mailto:milenajelcic28@gmail.com">developer@forumdemo.ml</a><br/>
</address>